* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.target {
  position: relative;
  width: 100%; /* size of the target container */
  height: 100%; /* size of the target container */
}

.ring {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers each ring in the parent */
  width: 80%; /* relative size of the rings */
  height: 80%; /* relative size of the rings */
  border: 20px solid transparent; /* Default border thickness for all rings */
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.ring-1 {
  width: 30vw;
  height: 30vw;
  border-color: rebeccapurple;
  border-width: 25px; /* Increased thickness for the outermost ring */
  background-color: rebeccapurple;
}
.ring-1 .line {
  position: absolute;
  width: 2px; /* Line thickness */
  height: 15vw; /* Radius of the circle */
  background-color: black;
  top: 50%;
  left: 50%;
  transform: rotateZ("10 deg");
  transform: translate(-50%, -100%) rotate(19deg);
  transform-origin: bottom;
}

.ring-2 {
  width: 22vw;
  height: 22vw;
  border-color: greenyellow;
  border-width: 20px; /* Increased thickness for the second ring */
  background-color: greenyellow;
}
.ring-2 .line {
  position: absolute;
  width: 2px; /* Line thickness */
  height: 11vw; /* Radius of the circle */
  background-color: black;
  top: 50%;
  left: 50%;
  transform: rotateZ("10 deg");
  transform: translate(-50%, -100%) rotate(40deg);
  transform-origin: bottom;
}

.ring-3 {
  width: 17vw;
  height: 17vw;
  border-color: #001aff;
  border-width: 18px; /* Increased thickness for the third ring */
  background-color: #001aff;
}
.ring-3 .line {
  position: absolute;
  width: 2px; /* Line thickness */
  height: 8.5vw; /* Radius of the circle */
  background-color: black;
  top: 50%;
  left: 50%;
  transform: rotateZ("10 deg");
  transform: translate(-50%, -100%) rotate(86deg);
  transform-origin: bottom;
}

.ring-4 {
  width: 13vw;
  height: 13vw;
  border-color: #00e2a6;
  border-width: 15px; /* Increased thickness for the fourth ring */
  background-color: #00e2a6;
}
.ring-4 .line {
  position: absolute;
  width: 2px; /* Line thickness */
  height: 6.5vw; /* Radius of the circle */
  background-color: black;
  top: 50%;
  left: 50%;
  transform: rotateZ("10 deg");
  transform: translate(-50%, -100%) rotate(86deg);
  transform-origin: bottom;
}

.ring-5 {
  width: 8vw;
  height: 8vw;
  border-color: red;
  border-width: 10px; /* Increased thickness for the innermost ring */
  background-color: red;
}
.ring-5 .line {
  position: absolute;
  width: 2px; /* Line thickness */
  height: 4vw; /* Radius of the circle */
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(10deg);
  transform-origin: bottom; /* Position the line at the center */
}

.ring-6 {
  width: 4.5vw;
  height: 4.5vw;
  border-color: #4a883e;
  border-width: 10px; /* Increased thickness for the innermost ring */
  background-color: #4a883e;
}
.ring-6 .line {
  position: absolute;
  width: 2px; /* Line thickness */
  height: 2.25vw; /* Radius of the circle */
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(10deg);
  transform-origin: bottom; /* Position the line at the center */
}/*# sourceMappingURL=styles.css.map */
